
.sign-in {
  padding: 2rem;
  background-color: white;
  width: 24.5rem;
  border-radius: 1rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.12);
}
.sign-in h1 {
  color: #4D4F5C;
  font-weight: 400;
  text-align: start;
}

.input-login {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#input-name, #input-password {
  height: 3.5rem;
  border-radius: .25rem;
  border: 1px solid #4D4F5C;
  background-color: white;
  opacity: 0.5;
  padding: 0 1rem;
  font-size: 1rem;
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
}

.action {
  display: flex;
  flex-direction: column;
  row-gap:1rem;
}

.action a button {
  color:white;
  background-color:#262F3E;
  border-radius: 0.25rem;
  border: none;
  height: 3.5rem;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
}

.action button:hover{
  background-color: #2f3847;
}


.action a button {
  background-color:white;
  color:#262F3E;
  border: 1px solid #262F3E;
}
.action a button:hover {
  background-color: rgb(245, 245, 245);
}


button[type="submit"]:disabled {
  background: #dddddd;
}

@media (max-width: 420px)
{
    .content-text {
      display: none;
    }
}