.App {
  font-family: sans-serif;
  text-align: center;
}

.sign-up {
  padding: 2rem;
  background-color: white;
  width: 24.5rem;
  border-radius: 1rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.12);
}

.sign-up h1 {
  color: #4D4F5C;
  font-weight: 400;
  text-align: start;
}

.input-sign-up {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#input-name,
#input-password,
#input-new-password {
  height: 3.5rem;
  border-radius: .25rem;
  border: 1px solid #4D4F5C;
  background-color: white;
  opacity: 0.5;
  padding: 0 1rem;
  font-size: 1rem;
}

.action {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.action button {
  color: white;
  background-color: #262F3E;
  border-radius: 0.25rem;
  border: none;
  height: 3.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.action button:hover {
  background-color: #2f3847;
}