@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100;300;400;500;900&display=swap');

.App {
  height: 100vh;
  width: 100vw;
  background: #FCFCFC;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10rem;
}

.sign-in {
  padding: 2rem;
  background-color: white;
  width: 24.5rem;
  border-radius: 1rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.12);
}
.sign-in h1 {
  color: #4D4F5C;
  font-weight: 400;
}

.input-login {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color:#27303F;
}

#input-login {
  height: 3.5rem;
  border-radius: .25rem;
  border: 1px solid #4D4F5C;
  background-color: white;
  opacity: 0.5;
  padding: 0 1rem;
  font-size: 1rem;
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
}

.action {
  display: flex;
  flex-direction: column;
  row-gap:1rem;
}

.action button {
  color:white;
  background-color:#262F3E;
  border-radius: 0.25rem;
  border: none;
  height: 3.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.action button:hover {
  background-color: #2f3847;
}


.action button:nth-child(2) {
  background-color:white;
  color:#262F3E;
  border: 1px solid #262F3E;
}
.action button:nth-child(2):hover {
  background-color: rgb(245, 245, 245);
}

.background-page {
  display: flex;
  flex-direction: column;
  row-gap:3rem;
}

#logo-one-blue {
  width: 9rem;
  height: auto;
}

.content-text {
  display: flex;
  flex-direction: column;
  width: 50rem;
  row-gap: 1rem;
}

.background-page h1 {
  font-style: normal;
  font-weight: 100;
  font-size: 3.5rem;
  line-height: 48px;
  color:#1B2330;
}

.background-page h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 0.01em;
}

button[type="submit"]:disabled {
  background: #dddddd;
}

@media (max-width: 1370px)
{
  .App {
    column-gap: 5rem;
  }
}

@media (max-width: 420px)
{
    .content-text {
      display: none;
    }
    
    .App {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 3rem;
      padding: 4rem 0;
    }
}